.container {
  padding-top: 2rem;
}

.subContainer {
  margin-top: 3rem;
  display: flex;
}

.productsContainer {
  width: 80vw;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 76vh;
  margin-left: 2rem;
  gap: 1rem;
}

.topLevelContainer {
  position: relative;
  height: 90vh;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}
